<%- include("partials/header") -%>

<div class="content-box">
  <br>
  <h4>Home</h4>
  <p><%= homeContent %></p>
  <% postList.forEach(function(element){  %>
  <h4><%= element.title %></h4>
  <p><%= element.post.substring(0,100) +"..." %> <a href="/posts/<%=element.title%>">Read More</a></p>
  <%  }) %>
</div>
</div>

<%- include("partials/footer") -%>
