<%- include("partials/header") -%>
<div class="heading-box">
  <h4><%= todayDate %> </h4>
  <h4 id="onlineTime"> </h4>
</div>

  <div class="box">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">Daily Journal</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <hr>
    <div class="content-box">
      <br>
      <h4>Home</h4>
      <p><%= homeContent %></p>
      <% postList.forEach(function(element){  %>
        <h4><%= element.title %></h4>
        <p><%= element.post.substring(0,100) +"..." %> <a href="/posts/<%=element.item%>">Read More</a></p>
    <%  }) %>
    </div>
  </div>


<%- include("partials/footer") -%>
